    header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke
    }
    
    button {
        background-color: rgb(0, 0, 128);
        color: grey;
        Width: 150px;
        Height: 67px;
        border-radius: 24px;
        Padding: 24px;
        Gap: 8px;
        border: solid rgb(102, 2, 102);
    }
    
    button:hover {
        background-color: rgb(102, 2, 102);
        transform: scale(1.1);
    }
    
    #tamañoImagen {
        border-radius: 10px;
        height: 150px;
        width: 200px;
    }
    
    #textAreaUser {
        height: 288px;
        width: 400px;
        left: 240px;
        top: 168px;
        border-radius: 32px;
        text-align: center;
        border: solid rgb(102, 2, 102);
        color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
    }
    
    #noMessage {
        color: whitesmoke;
    }
    
    div.container {
        height: 400px;
        width: 400px;
        color: whitesmoke;
    }
    
    .imgRedes {
        height: 25px;
        width: 25px;
    }
    
    .imgRedes:hover {
        transform: scale(1.2);
    }
    
    .center {
        text-align: center;
        justify-content: center;
    }
    
    #myLogo {
        height: 15px;
        width: 15px;
    }
    
    .center::-webkit-input-placeholder {
        text-align: center;
        line-height: 200px;
    }
    
    .section {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
    
    .imgContainer {
        width: 400px;
        height: 400px;
        margin: 50px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .redes {
        margin: auto 6px;
        justify-content: flex-end;
    }
    
    body {
        background-color: blue;
    }
    
    #codingArea {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
        color: whitesmoke;
    }
    
    #foundMessage {
        color: whitesmoke;
        text-align: center;
    }